J2EE/WebContent/xml/base_schema_complex_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="baseSchemaComplex_01" targetNamespace="baseSchemaComplex_01" elementFormDefault="qualified">
	<!-- 定义一个复合类型 然后其他的引用该类型，还未测试成功 -->
	<complexType name="peopless">
		<simpleContent>
			<extension base="decimal">
				<attribute name="sizing" type="string"/>
			</extension>
		</simpleContent>
	</complexType>
	<element name="root">
		<complexType>
			<sequence>
				<sequence>
					<element name="man" type="peopless">
					</element>
					<element name="women"/>
				</sequence>
			</sequence>
		</complexType>
	</element>
</schema>
