J2EE/WebContent/xml/base_schema_03.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="book.shop" xmlns="book.shop" elementFormDefault="qualified">

	<xs:element name="book" type="bookType" />
	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="author" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>